<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="header :: index_header"></th:block>
    <style>
    </style>
</head>
<body>

<header>
    <div class="container">
        <h1> :) hello welcome! </h1>
    </div>
</header>


<div class="container-fluid">
    <div class="col-md-1" style="border:1px solid #f3f3f3">

        <ul style="list-style: none;">
            <li><strong>首页</strong></li>
            <li><a href="#">模块1</a></li>
            <li><a href="#">模块2</a></li>
            <li><a href="#">模块3</a></li>
            <li><a href="#">模块4</a></li>
            <li><a href="#">模块5</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th width="5%">Id</th>
                    <th>名称</th>
                    <th width="20%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tool:${tools}">
                    <td th:text="${toolStat.index+1}">1</td>
                    <td th:text="${tool.getToolName()}">快手视频下载</td>
                    <td align="center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">查看</button>
                            <button type="button" class="btn btn-info">修改</button>
                            <button type="button" class="btn btn-danger">删除</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container" th:include="footer :: copyright"></div>
</body>
</html>
