<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huxin.tools.dao.CategoryDao">
    <resultMap id="categoryVoResult" type="CategoryVo" autoMapping="true">
        <collection property="tools" column="type_id"  select="selectToolByType">
        </collection>
    </resultMap>
    
    <select id="selectToolByType" parameterType="Integer" resultType="Tool">
        SELECT * FROM tool WHERE tool_type = #{arg0}
    </select>
</mapper>